<h1>Tools Listing</h1>

<div class="row">
  <div class="small-3 columns">Name</div>
  <div class="small-3 columns">Category</div>
  <div class="small-3 columns">Price</div>
  <div class="small-3 columns">Details</div>
</div>
<hr>
<% @tools.each do |tool| %>
  <div class="row">
    <div class="small-3 columns"><%= tool.name %></div>
    <div class="small-3 columns"><%= tool.category %></div>
    <div class="small-3 columns"><%= tool.price %></div>
    <div class="small-3 columns"><%= link_to 'Show', tool %></div>
  </div>
<% end %>
<hr>


<%= link_to 'Create New Item', new_tool_url %>