<h1>Listing Tools</h1>
<p>
Name
Category
Description
Price
Availability
<p>

<% @tools.each do |tool| %>
  <div>
    <%= tool.name %>
    <%= tool.category %>
    <%= tool.description %>
    <%= tool.price %>
    <%= tool.availability %>
    <%= link_to 'Show', tool %>
  <div>
<% end %>



<%= link_to 'Create New Item', new_tool_url %>