<div class="row">
  <%= form_for :tool, url: tools_url, method: :post, html: { id: "tool-form" } do |f| %>
    <fieldset>
      <div class="large-12 columns">
        <%= f.label :name, class: "sr-only" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name of tool" %>
      </div>
      <div class="large-12 columns">
        <%= f.label :description, class: "sr-only" %>
        <%= f.text_field :description, class: "form-control", placeholder: "Description of tool" %>
      </div>
      <div class="large-4 columns">
        <%= f.label :category, class: "sr-only" %>
        <%= f.text_field :category, class: "form-control", placeholder: "Category" %>
      </div>
      <div class="large-4 columns">
        <%= f.label :photos, class: "sr-only" %>
        <p>Upload photos here</p>
      </div>
      <div class="large-4 columns">
        <%= f.label :price, class: "sr-only" %>
        <%= f.text_field :price, class: "form-control", placeholder: "Price" %>
      </div>
<!--       <div class="large-4 columns">
        <%= f.label :availability, class: "sr-only" %>
        <%= f.check_box :availability, placeholder: "Yes", value: "Yes" %><%= f.label :yes %>
      </div> -->
      <div class="large-8 columns">
        <%= f.label :tag, class: "sr-only" %>
        <%= f.text_field :tag, class: "form-control", placeholder: "Tag" %>
      </div>
      <div class="large-12 columns">
        <%= f.submit "Create", class: "btn" %>
      </div>

    </fieldset>
  <% end %>

</div>

<%= link_to 'Back', tools_url %>
