<p>
  Name:
  <%= @tool.name %>
</p>

<p>
  Category:
  <%= @tool.category %>
</p>

<p>
  Description:
  <%= @tool.description %>
</p>

<p>
  Price:
  <%= @tool.price %>
</p>

<p>
  Tag:
  <%= @tool.tag %>
</p>

<p>
  Available:
  <%= @tool.availability %>
</p>

<%= link_to 'Back', tools_url %>
