<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tool.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tool.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tool.price %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @tool.tag %>
</p>

