{{#each tools}}
  <div class="tool-item" data-id={{id}}>
    <div>
      <img src="{{avatar/avatar/url}}" class="photo">
    </div>
      <div id="container-pin">
        <div>
          <h2 class="pin-row">{{name}}</h2>
        </div>
        <div class="pin-row">
          <p><img src="{{links/user/avatar/url}}" class="img-circle" ><span class="padding-left">{{links/user/name}}</span></p>
        </div>
      </div>
  </div>
{{/each}}
