{{#each tools}}
  <div class="tool-item" data-id={{id}}>
    <div>
      <img src="{{avatar/avatar/url}}" class="photo">
    </div>
    <p class="pin-row">{{name}}</p>
    <div class="pin-row">
      <img src="{{links/user/avatar/url}}" class="img-circle" >
     {{!--  <p>{{links/user/name}}</p> --}}
    </div>
  </div>
{{/each}}
