<div class="row">
{{#each tools}}
  <div class="tool-item" data-id={{id}}>
    <div class="row">
      <div class="photo">
        <img src="{{avatar/avatar/url}}" >
      </div>
    </div>
    <div class="row">
      <p>{{name}}</p>
    </div>
    <div class="row">
      <p>{{user_id}}</p>
    </div>
    <div>
        <img src="{{links/user/avatar/url}}" class="img-circle" >
    </div>
  </div>
{{/each}}
</div>