{{#each tools}}
  <div class="row modal">
    <div id="modal-title">
      <h1>{{name}}</h1>
    </div>
    <div class="line-separator"></div>
    <div class="small-4 large-4 columns">
      <div id="modal-img">
        <img src="{{avatar/avatar/url}}">
        <p>{{links/user/name}}</p>
        <p>{{links/user/email}}</p>
        <p>{{links/user/mobile_number}}</p>
      </div>
    </div>
    <div class="small-8 large-8 columns">
      <p>{{description}}</p>
      <p>{{category}}</p>
      {{#if availability}}
        <p class="available">Available!</p>
      {{else}}
        <p class="unavailable">Not Available.</p>
      {{/if}}
    </div>
  </div>
{{/each}}
