{{#each users}}
  {{#each links/tools}}
  <div class="row" id="tool-row-item{{id}}">
    <div class="small-3 large-3 columns">
      <p class="edit-tool-item" id="toolId-{{id}}" data-id="{{id}}">{{name}}</p>
    </div>
    <div class="onoffswitch small-6 large-6 columns">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{name}}" data-id="{{id}}" {{#if availability}}checked{{/if}} >
      <label class="onoffswitch-label" for="{{name}}">
        <div class="onoffswitch-inner"></div>
      </label>
    </div>
    <div class="small-3 large-3 columns">
      <button class="delete-tool-btn" id="toolId-{{id}}" data-id="{{id}}">Delete</button>
    </div>
  </div>
  {{/each}}
{{/each}}

<a href="/newtool" class="tiny button">New Tool</a>
