{{#each tools}}
  <div class="row modal">
    <div id="modal-title">
      <h1>{{name}}</h1>
    </div>
    <div class="line-separator"></div>
    <div class="small-5 large-5 columns">
      <div id="modal-img" class="tilt">
        <img src="{{avatar/avatar/url}}">
      </div>
    </div>
    <div class="small-7 large-7 columns" id="modal-des">
      <p>{{description}}</p>
      <p><span class="bold"> Category : </span> {{category}}
      <span class="right-align"> <span class="bold">Status :</span>
      {{#if availability}}
        <span class="available">Available!</span>
      {{else}}
        <span class="unavailable">Not Available.</span>
      {{/if}}
        </span></p>
    </div>
  </div>
  <div id="green-bg" class="small-12 large-12 columns">
      <div class="owner-des">
        <h2>Meet the Owner {{links/user/name}}</h2>
          <div class="small-2 large-2 columns">
            <img src="{{links/user/avatar/url}}" id="img-circle-des" >
          </div>
          <div class="small-10 large-10 columns owner-id-des">
            <p>{{links/user/description}}</p>
            <p>Email: {{links/user/email}}
            <span class="right-align">Mobile Contact: {{links/user/mobile_number}}</span></p>
          </div>
      </div>
  </div>
{{/each}}
