<div class="small-8 large-8 columns">
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel-profile">Your Profile</a></dd>
    <dd><a href="#panel-tools">Your Tools</a></dd>
  </dl>
  {{#each users}}
    <div class="tabs-content">
      <div class="content active" id="panel-profile">
        <div class="row">
          <p> <strong>Name: </strong> {{name}} </p>
          <p> <strong>Email: </strong> {{email}} </p>
          <p> <strong>Description: </strong> {{description}} </p>
          <p> <strong>Facebook: </strong> {{facebook}} </p>
          <p> <strong>Mobile: </strong> {{mobile_number}} </p>
          <img src="{{avatar/url}}" class="img-circle" >
        </div>
      </div>
      <div class="content" id="panel-tools">
        {{#each links/tools}}
          <div class="row">
            <div class="small-6 large-6 columns">
              <p>{{name}}</p>
            </div>
            <div class="onoffswitch small-6 large-6 columns">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{name}}">
              <label class="onoffswitch-label" for="{{name}}">
                <div class="onoffswitch-inner"></div>
              </label>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>