{{#each messages}}
  <div class="messages-item" data-id={{id}}>
    <li>
      <p>Subject :{{subject}}</p>
      <p>Message :{{body}}</p>
      <p>Sent :{{updated_at}}</p>
      <p>From :{{sender_id}}</p>
      <p>To :{{recipient_id}}</p>
    </li>
  </div>
{{/each}}
