{{#each users}}
<div class="large-9 large-offset-3 columns">
  <div class="row">
    <div class="small-4 large-4 columns">
      <a href="/edituser"><img src="{{avatar/avatar/url}}" class="img-circle-large" ></a>
    </div>
    <div class="small-8 large-8 columns">

      {{#if name }}
        <p><strong>Name:</strong></p><p class="field" data-field="name" data-userId="{{id}}">{{name}}</p>
      {{else}}
        <p class="field" data-field="name" data-userId="{{id}}">Name</p>
      {{/if}}

      {{#if email }}
        <p><strong>Email:</strong></p><p class="field" data-field="email" data-userId="{{id}}">{{email}}</p>
      {{else}}
        <p class="field" data-field="email" data-userId="{{id}}">Email</p>
      {{/if}}

      {{#if description }}
        <p><strong>Description:</strong></p><p class="field" data-field="description" data-userId="{{id}}">{{description}}</p>
      {{else}}
        <p class="field" data-field="description" data-userId="{{id}}">Description</p>
      {{/if}}

      {{#if facebook }}
        <p><strong>Facebook:</strong></p><p class="field" data-field="facebook" data-userId="{{id}}">{{facebook}}</p>
      {{else}}
        <p class="field" data-field="facebook" data-userId="{{id}}">Facebook</p>
      {{/if}}

      {{#if mobile_number }}
        <p><strong>Mobile Number:</strong></p><p class="field" data-field="mobile_number" data-userId="{{id}}">{{mobile_number}}</p>
      {{else}}
        <p class="field" data-field="mobile_number" data-userId="{{id}}">Mobile Number</p>
      {{/if}}

    </div>
  </div>
</div>
{{/each}}
