<!DOCTYPE html>
<html>
<head>
  <title>Werkzeug</title>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/css/foundation.min.css" media="all" rel="stylesheet">

    <%= stylesheet_link_tag    "application", media: "all" %>
</head>
  <body>
    <header role="banner">
      <nav class="top-bar hide-for-small">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to("Werkzeug", root_url) %></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><%= link_to("Login", login_url ) unless current_user %></li>
            <li><%= link_to("Sign Up", register_url ) unless current_user  %></li>
            <li><%= link_to("PROFILE", "javascript:;", :id => "header-profile", :data => { :id => current_user.id }) if current_user %></li>
            <li><%= link_to("Logout", logout_url ) if current_user  %></li>
          </ul>
        </section>
      </nav>
    </header>
    <main role="main">
      <div class="row">
        <div class="small-6 large-2 columns"></div>
        <div class="small-6 large-8 columns"></div>
       <div class="small-12 large-2 columns"></div>
      </div>
      <%= yield %>
    </main>
      <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.1/js/foundation.min.js"></script>
</body>
<footer>
</footer>
<%= flash_noty_script_tag %>
</html>